.MenuContent {
    background-size: cover;
    background-position: 50%;
    height: 100vh;
}

.MenuContent--hover-alpha {
    background-color: var(--theme-black);
    height: 100vh;
    opacity: 0.4;
    position: absolute;
    width: 100%;
}
