.Experience {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    white-space: normal;
}

@media (min-width: 442px) {
  .Experience {
      width: 50%;
  }
}

@media (min-width: 678px) {
    .Experience {
        width: 33.3%;
    }
}

@media (min-width: 992px) {
    .Experience {
        width: 25%;
    }
}

.Experience--image {
    background-size: 100% 100%;
    border-radius: 3px;
    overflow: hidden;
    padding-top: 66.6%;
    width: 100%;
    z-index: 0;
}

.Experience--description {
    color: var(--theme-black);
    display: flex;
    flex-direction: column;
}

.Experience--description-category {
    font-weight: 400;
    margin-top: 10px;
}

.Experience--description-title {
    font-size: 17px;
    font-weight: bold;
}

.Experience--description-price {
    font-weight: 400;
    color: var(--theme-text-placeholder-color);
}

.Experience--description-reviews {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.Experience--description-reviews i {
    font-size: 16px;
    height: 18px;
}

.Experience--description-reviews i,
.Experience--description-reviews-rate {
    color: var(--theme-main);
    font-weight: bold;
}

.Experience--description-reviews-number {
    color: var(--theme-text-placeholder-color);
    margin-left: 10px;
}
