.Edit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
}

.EditContent {
    display: flex;
    flex: 3;
    flex-direction: column;
}

.EditContent--update {
    color: var(--theme-border);
    margin-bottom: 20px;
    opacity: 0;
    padding: 10px 20px;
    transition: all 500ms ease-in-out;
}

.EditContent--update.error {
    background-color: var(--theme-red);
    opacity: 1;
}

.EditContent--update.success {
    background-color: var(--theme-main);
    opacity: 1;
}

.EditSideBar {
    flex: 1;
    position: relative;
}

.EditSideBar--list {
    position: fixed;
}

.EditSideBar li {
    color: var(--theme-text-placeholder-color);
    cursor: pointer;
    padding: 10px;
}

.EditSideBar li.selected {
    color: var(--theme-border);
    font-weight: bold;
}
