.Home {
    display: flex;
    flex-direction: column;
    padding: 0px;
    position: relative;
    margin-top: -30px;
}

@media (min-width: 1128px) {
    .Home {
        margin: auto !important;
        width: 980px !important;
    }
}

.Home h1 {
    color: var(--theme-white);
    font-size: 30px;
    font-weight: 700;
    padding: 0 20px;
}

@media (min-width: 450px) {
    .Home h1 {
        padding: 0;
    }
}

@media (min-width: 992px) {
    .Home h1 {
        font-size: var(--theme-font-size-header);
    }
}

.Home--search-location {
    animation-name: fadeInSlideDown;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (min-width: 992px) {
    .Home--search-location {
        flex-direction: row;
        margin: 0px;
    }
}

.Home--search-location .button-field {
    align-items: center;
    background: var(--theme-red);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}

@media (min-width: 992px) {
    .Home--search-location .button-field {
        box-shadow: 0 10px 36px rgba(0, 0, 0, 0.65);
        margin-left: 15px;
        width: 76px;
    }
}

.Home--search-location .button-field i {
    color: var(--theme-white);
    font-size: 44px;
    font-weight: bold;
}

.Home--fields {
    align-items: center;
    background-color: var(--theme-white);
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 15px;
}

@media (min-width: 442px) {
    .Home--fields {
        border-radius: 5px;
    }
}

@media (min-width: 992px) {
    .Home--fields {
        box-shadow: 0 10px 36px rgba(0, 0, 0, 0.65) !important;
        display: flex;
        flex-direction: row;
        margin: 0px;
        width: 100%;
    }
}

.Home--SingleDatePicker {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.Home--DatePicker {
    display: flex;
    flex-direction: column;
}

.Home--fields .input-field {
    align-items: center;
    border-right: 1px solid #ebebeb !important;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 14px;
    position: relative;
    width: 100%;
}

.Home--fields .input-field:last-child {
    border-right: none !important;
}

.Home--fields .input-field.location {
    width: 100%;
    transition: width 300ms ease-in-out;
}

@media (min-width: 992px) {
    .Home--fields .input-field.location {
        border: 1px solid var(--theme-white);
        border-radius: 5px;
        transform: translateZ(0);
        backface-visibility: hidden;
        position: relative;
        width: 55% !important;
    }

    .Home--fields .input-field.location:before {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        top: 0;
        background-color: var(--theme-main);
        transition: right 300ms ease-out;
        height: 4px;
    }

    .Home--fields .input-field.location.focused {
        width: 60% !important;
    }

    .Home--fields .input-field.location.focused:before {
        right: 0;
    }
}

.input-field i {
    height: 45px;
    vertical-align: middle;
    line-height: 45px;
    padding: 0 20px;
}

.Home--fields--dropdown {
    background-color: var(--theme-white);
    box-shadow: 0 10px 36px rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
}

.Home--fields--dropdown-item {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 15px;
    text-overflow: ellipsis;
    width: 300px;
}

.location .Home--fields--dropdown-item:hover {
    background-color: var(--theme-border);
}

.Home--fields--dropdown-image {
    height: 20px;
    margin-right: 10px;
}

.Home--fields .input-field.date {
    border: 1px solid var(--theme-white);
    width: 100%;
    transition: width 300ms ease-in-out;
}

@media (min-width: 992px) {
    .Home--fields .input-field.date {
        transform: translateZ(0);
        backface-visibility: hidden;
        position: relative;
        width: 35% !important;
    }

    .Home--fields .input-field.date:before {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        top: 0;
        background-color: var(--theme-main);
        transition: right 300ms ease-out;
        height: 4px;
    }

    .Home--fields .input-field.date.focused:before {
        /* border: 1px solid var(--theme-main) !important; */
        right: 0;
    }
}

.Home--fields .input-field.guests {
    border-left: 1px solid var(--theme-white);
    border-top: 1px solid var(--theme-white);
    border-bottom: 1px solid var(--theme-white);
    border-right: 1px solid var(--theme-white);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    transition: all 300ms ease-in-out;
}

@media (min-width: 992px) {
    .Home--fields .input-field.guests {
        transform: translateZ(0);
        backface-visibility: hidden;
        position: relative;
        width: 15% !important;
    }

    .Home--fields .input-field.guests:before {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        right: 100%;
        top: 0;
        background-color: var(--theme-main);
        transition: right 300ms ease-out;
        height: 4px;
    }

    .guests.focused:before {
        right: 0;
    }

    .guests .Home--fields--dropdown-item {
        box-sizing: content-box;
        justify-content: space-between;
        padding: 0;
        width: 100%;
    }

    .guests .Home--fields--dropdown-item div {
        padding: 15px;
    }

    .guests .Home--fields--dropdown-image {
        height: 25px;
        padding: 15px;
        margin-right: 0;
        z-index: 5;
    }

    .guests .Home--fields--dropdown-image:hover {
        background: var(--theme-border);
    }
}

.Home--fields .input-field.with-label {
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    padding: 16px 20px 14px;
    width: 100%;
    transition: width 300ms ease-in-out;
}

@media (min-width: 992px) {
    .Home--fields .input-field.with-label {
        width: 15%;
    }
}

.Home--fields input {
    border-bottom: none !important;
    color: var(--theme-text-placeholder-color);
    font-family: var(--theme-font-family);
    font-size: 18px !important;
    margin: 0px !important;
    text-overflow: ellipsis !important;
}

.Home--fields input:active,
.Home--fields input:focus {
    border-bottom: 1px solid var(--theme-border) !important;
    box-shadow: none !important;
}

@media (min-width: 992px) {
    .Home--fields input:active,
    .Home--fields input:focus {
        border-bottom: none !important;
        box-shadow: none !important;
    }
}

.Home--fields .input-text {
    border: 1px solid var(--theme-border) !important;
    border-radius: 5px !important;
    box-sizing: border-box !important;
    color: var(--theme-text-placeholder-color);
    cursor: pointer;
    font-size: 18px !important;
    height: 50px !important;
    padding: 10px !important;
    width: 100%;
}

@media (min-width: 992px) {
    .Home--fields .input-text {
        border: none !important;
        color: var(--theme-text-placeholder-color);
        cursor: pointer;
        font-size: 18px !important;
        height: inherit !important;
        line-height: 27px;
        padding: 0px !important;
    }
}

.Home--fields .label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}

@keyframes fadeInSlideDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.input-field .DateInput {
    width: inherit;
}

#end_date {
    text-align: right !important;
}

.input-field .DateInput_input {
    cursor: pointer;
    height: inherit !important;
}

.input-field .SingleDatePicker,
.input-field .DateRangePicker {
    border: 1px solid var(--theme-border);
    border-radius: 5px !important;
    box-sizing: border-box !important;
    color: var(--theme-text-placeholder-color);
    cursor: pointer;
    font-size: 18px !important;
    height: 50px !important;
    line-height: 27px;
    padding: 10px;
    width: 100%;
}

@media (min-width: 992px) {
    .input-field .SingleDatePicker,
    .input-field .DateRangePicker {
        border: none;
        height: inherit !important;
        padding: 0px;
    }
}

.input-field .DateInput,
.input-field .DateRangePickerInput {
    align-items: center;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
