.Content {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin-top: 81px;
    width: 100%;
}

@media (min-width: 451px) {
    .Content {
        height: calc(100vh - 81px);
    }
}

.Content.inverted {
    margin-top: 0px;
}
