.Content {
    align-items: center;
    display: flex;
    height: calc(100vh - 81px);
    justify-content: center;
    margin-top: 81px;
    width: 100%;
}

.Content.inverted {
    margin-top: 0px;
}
