.NavBar {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    position: absolute;
    top: 0;
}

.NavBar-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}

.NavBar--logo {
    align-items: center;
    color: var(--theme-main);
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    height: 64px;
    justify-content: center;
}

.NavBar--logo span {
    line-height: 20px;
    padding: 0 10px;
}

.NavBar--logo img {
    height: 70%;
}

.NavBar--menu li {
    padding: 0 10px;
}

.NavBar--menu a:hover {
    background: rgba(0, 0, 0, 0);
    border-bottom: 2px solid var(--theme-white);
}
