.NavBar {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    position: absolute;
    top: 0;
    z-index: 2;
}

.NavBar-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (min-width: 992px) {
    .NavBar-wrapper {
        flex-direction: row;
        padding: 0 20px;
    }
}

.NavBar--logo {
    align-items: center;
    color: var(--theme-white);
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    height: 80px;
    line-height: 80px;
    justify-content: center;
    padding: 0 20px;
    z-index: 10;
}

@media screen and (min-width: 992px) {
    .NavBar--logo {
        padding: 0px;
    }
}

.NavBar--logo span {
    line-height: 20px;
    padding: 0 10px;
}

.NavBar--logo img {
    height: 50%;
}

.NavBar--logo:hover {
    cursor: pointer;
}

.NavBar--logo i {
    transition: all 500ms ease-in-out;
}

.NavBar--logo i.expanded {
    transform: rotate(180deg);
}

.NavBar--menu {
    display: flex;
    height: 0px;
}

.NavBar--menu li {
    padding: 0 10px;
}

.NavBar--menu a {
    font-size: var(--theme-font-size);
    height: 80px;
    line-height: 80px;
}

@media screen and (min-width: 992px) {
    .NavBar--menu a {
        font-size: var(--theme-font-desktop-size);
    }
}

.NavBar--menu a:hover {
    background: rgba(0, 0, 0, 0);
    border-bottom: 2px solid var(--theme-white);
    cursor: pointer;
}

.NavBar--menu.expanded {
    flex-direction: column;
    height: 100vh;
    position: absolute;
    top: 100px;
    width: 100vw;
    z-index: 0;
}

.NavBar--menu--mobile-bg {
    background-color: var(--theme-main);
    bottom: 0;
    height: 100%;
    flex-direction: column;
    left: 0;
    padding-top: 100px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    transition-duration: 0.2s !important;
    transition-property: -ms-transform, -webkit-transform, transform !important;
    transition-timing-function: ease-out !important;
    transform: translateY(-100%);
}

.NavBar--menu--mobile-bg.expanded {
    transform: translateY(0px) !important;
}

/****************************************
 * For Tablet and Desktop Devices (more than 400px) *
 ****************************************/
@media only screen and (min-width: 993px) {
    .NavBar--logo i {
        visibility: hidden;
    }
}
