html, body {
    height: 100%;
}

body {
    font-family: var(--theme-font-family);
    font-weight: 400;
    margin: 0;
    overflow: hidden;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--theme-text-placeholder-color);
    font-weight: 400 !important;
}

input::-moz-placeholder { /* Firefox 19+ */
    color: var(--theme-text-placeholder-color);
    font-weight: 400 !important;
}

input:-ms-input-placeholder { /* IE 10+ */
    color: var(--theme-text-placeholder-color);
    font-weight: 400 !important;
}

input:-moz-placeholder { /* Firefox 18- */
    color: var(--theme-text-placeholder-color);
    font-weight: 400 !important;
}
