html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0;
    overflow: hidden;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
